html, body {
    font-family: "Ubuntu", sans-serif;
    background: #f5f6fa;
}

p.title {
    color: #353b48;
    font-size: 80px;
    margin-bottom: 40px;
    text-align: center;
}

p.text {
    color: #273c75;
    font-size: 20px;
    text-align: center;
}

div.main {
    padding:  0;
    width: auto;
    text-align: center;
}