html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    background: #ecf0f1;
    /*overflow: hidden;*/
  }

  p.title {
    color: #34495e;
    font-size:40px;
  }
  
  p.content {
    color: #e74c3c;
    font-size:20px;
  }
  
  p.header {
    color: #34495e;
    font-size:30px;
    text-align:center;
  }