html, body {
  width: auto;
  height: auto;
  font-family: "Ubuntu", sans-serif;
  background: #eee;
}

div.banner {
  background-color: #000;
  width: auto;
  height: 100px;
  margin: 1%;
}

div.home_gallery {
  background-color: #fff;
  width: auto;
  height: 400px;
  margin: 1%;
}

div.home_left {
  background-color: #f00;
  height: auto;
  width: 70%;
  float: left;
  margin: 1%;
}

div.home_right {
  background-color: #fff;
  height: auto;
  width: 25%;
  float: right;
  margin: 1%;
}

h1.title_red {
  font-size: 60px;
  color: #f00;
}

h1.title_white {
  font-size: 60px;
  color: #fff;
}