html, body {
    font-family: "Ubuntu", sans-serif;
    background: #000000;
}

p {
    color: #FFFFFF;
    text-align: center;
}

a:link.space {
    color: #000000;
}

a:hover.space {
    color: #000000;
}

a:visited.space {
    color: #000000;
}

a:active.space {
    color: #000000;
}

a:link.text {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover.text {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited.text {
    color: #FFFFFF;
    text-decoration: none;
}

a:active.text {
    color: #FFFFFF;
    text-decoration: none;
}